
body {
    margin: 0;
    font-family: arial;
    background-color: #f2f2f2;
    color: #333333;
}

header {
    background-color: #FF8C69;
    color: white;
    padding: 10px;
}

header img {
    height: 80px;          
    width: 80px;

}
header h1 {
    text-align: left;
    font-family: roboto;
    margin: 0;
}

header p {
    margin-top: 8px;
    font-size: 17px;
}

h2, h3, h4, h5, h6 {
    color: #0066aa;
    font-size: 24px;
    margin-top: 25px;
}

p {
    margin: 10px 15px;
    line-height: 1.5;
}

ul {
    margin-left: 30px;
}

table {
    width: 95%;
    margin: 15px auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #e0e0e0;
    padding: 8px;
}

th {
    background-color: #FFF0D9;
    color: #333;
}

img {
    width: 22%;
    height: auto;
    margin: 10px;
}

footer {
    background-color: #5F9EA0;
    color: white;
    padding: 15px;
    margin-top: 30px;
}
footer img {
    width: 60px;              
    height: auto;
    
}

footer p {
    text-align: left;
    font-size: 19px;
}
